# IMPORT LIBRARY

In [104]:
import pandas as pd
import string
import datetime

# Data Introduction

In [105]:
df = pd.read_csv('Regresi A5.csv')
df.head()

,parameter_pencemar_kritis,kategori,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,202401,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,202401,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,202401,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,202401,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,202401,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   parameter_pencemar_kritis  546 non-null    object
 1   kategori                   547 non-null    object
 2   periode_data               547 non-null    int64
 3   bulan                      547 non-null    int64
 4   tanggal                    547 non-null    int64
 5   stasiun                    547 non-null    object
 6   pm_sepuluh                 469 non-null    float64
 7   pm_duakomalima             534 non-null    float64
 8   sulfur_dioksida            537 non-null    float64
 9   karbon_monoksida           545 non-null    float64
 10  ozon                       544 non-null    float64
 11  nitrogen_dioksida          539 non-null    float64
 12  max                        547 non-null    int64
dtypes: float64(6), int64(4), object(3)
memory usage: 55.7+ KB

In [107]:
df.describe(include='all')

,parameter_pencemar_kritis,kategori,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
count,546,547,547.000000,547.000000,547.000000,547,469.000000,534.000000,537.000000,545.000000,544.000000,539.000000,547.000000
unique,5,4,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,PM25,SEDANG,NaN,NaN,NaN,DKI5 Kebon Jeruk,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,468,355,NaN,NaN,NaN,397,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,202438.608775,5.519196,15.705667,NaN,37.686567,75.408240,28.391061,15.921101,42.143382,16.241187,75.691042
std,NaN,NaN,45.779098,3.310143,8.794730,NaN,16.674160,26.173293,8.587334,7.186794,15.033714,11.642654,25.215365
min,NaN,NaN,202401.000000,1.000000,1.000000,NaN,5.000000,18.000000,3.000000,2.000000,13.000000,1.000000,0.000000
25%,NaN,NaN,202405.000000,3.000000,8.000000,NaN,24.000000,55.000000,23.000000,10.000000,30.000000,9.500000,55.000000
50%,NaN,NaN,202409.000000,5.000000,16.000000,NaN,37.000000,78.000000,27.000000,17.000000,41.000000,14.000000,78.000000
75%,NaN,NaN,202502.000000,8.000000,23.000000,NaN,53.000000,94.000000,35.000000,21.000000,52.000000,19.000000,93.500000
max,NaN,NaN,202506.000000,12.000000,31.000000,NaN,74.000000,157.000000,53.000000,57.000000,115.000000,65.000000,157.000000

In [108]:
df.isnull().sum()

parameter_pencemar_kritis     1
kategori                      0
periode_data                  0
bulan                         0
tanggal                       0
stasiun                       0
pm_sepuluh                   78
pm_duakomalima               13
sulfur_dioksida              10
karbon_monoksida              2
ozon                          3
nitrogen_dioksida             8
max                           0
dtype: int64

In [109]:
data_duplicated = df.duplicated().sum()
print("Total Duplicate Data:", data_duplicated)

Total Duplicate Data: 0

# EDA

## Extract Year from periode_data

In [110]:
df['periode_data'] = df['periode_data'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   parameter_pencemar_kritis  546 non-null    object
 1   kategori                   547 non-null    object
 2   periode_data               547 non-null    object
 3   bulan                      547 non-null    int64
 4   tanggal                    547 non-null    int64
 5   stasiun                    547 non-null    object
 6   pm_sepuluh                 469 non-null    float64
 7   pm_duakomalima             534 non-null    float64
 8   sulfur_dioksida            537 non-null    float64
 9   karbon_monoksida           545 non-null    float64
 10  ozon                       544 non-null    float64
 11  nitrogen_dioksida          539 non-null    float64
 12  max                        547 non-null    int64
dtypes: float64(6), int64(3), object(4)
memory usage: 55.7+ KB

In [111]:
df['year'] = df['periode_data'].str[:4]
df['month'] = df['periode_data'].str[4:]
df.head()

,parameter_pencemar_kritis,kategori,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max,year,month
0,PM25,SEDANG,202401,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99,2024,01
1,PM25,SEDANG,202401,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68,2024,01
2,O3,SEDANG,202401,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63,2024,01
3,PM25,SEDANG,202401,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59,2024,01
4,PM25,SEDANG,202401,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52,2024,01

In [112]:
index_cat = df.columns.get_loc('kategori')
df.insert(index_cat + 1, 'year', df.pop('year'))
df.insert(index_cat + 2, 'month', df.pop('month'))
df.head()

,parameter_pencemar_kritis,kategori,year,month,periode_data,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,01,202401,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,01,202401,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,01,202401,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,01,202401,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,01,202401,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

In [113]:
df.drop(['month', 'periode_data'], axis=1, inplace=True)
df.head()

,parameter_pencemar_kritis,kategori,year,bulan,tanggal,stasiun,pm_sepuluh,pm_duakomalima,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

In [114]:
df.rename(columns={
    'bulan': 'month',
    'tanggal': 'day',
    'pm_sepuluh': 'pm10',
    'pm_duakomalima': 'pm25'
}, inplace=True)

df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

## Handling Missing Value

In [115]:
df.isnull().sum()

parameter_pencemar_kritis     1
kategori                      0
year                          0
month                         0
day                           0
stasiun                       0
pm10                         78
pm25                         13
sulfur_dioksida              10
karbon_monoksida              2
ozon                          3
nitrogen_dioksida             8
max                           0
dtype: int64

In [116]:
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

### Handling pm10

In [117]:
handling_pm10 = df.copy()
handling_pm10['pm10'] = handling_pm10['pm10'].fillna(method='ffill')

In [118]:
handling_pm10

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...
542,PM25,TIDAK SEHAT,2025,6,5,DKI5 Kebon Jeruk,38.0,116.0,25.0,14.0,38.0,65.0,116
543,PM25,SEDANG,2025,6,6,DKI5 Kebon Jeruk,30.0,97.0,23.0,12.0,39.0,46.0,97
544,PM25,TIDAK SEHAT,2025,6,7,DKI5 Kebon Jeruk,36.0,125.0,22.0,17.0,45.0,40.0,125
545,PM25,TIDAK SEHAT,2025,6,8,DKI5 Kebon Jeruk,31.0,108.0,26.0,14.0,41.0,60.0,108
546,PM25,SEDANG,2025,6,9,DKI5 Kebon Jeruk,30.0,99.0,25.0,11.0,38.0,49.0,99

In [119]:
df['pm10'] = handling_pm10['pm10']
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

In [120]:
df.isnull().sum()

parameter_pencemar_kritis     1
kategori                      0
year                          0
month                         0
day                           0
stasiun                       0
pm10                          0
pm25                         13
sulfur_dioksida              10
karbon_monoksida              2
ozon                          3
nitrogen_dioksida             8
max                           0
dtype: int64

### Handling pm25

In [121]:
df['pm25'] = df['pm25'].fillna(method='ffill')
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

### Handling sulfur_dioksida

In [122]:
df['sulfur_dioksida'] = df['sulfur_dioksida'].fillna(method='ffill')
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

In [123]:
df.isnull().sum()

parameter_pencemar_kritis    1
kategori                     0
year                         0
month                        0
day                          0
stasiun                      0
pm10                         0
pm25                         0
sulfur_dioksida              0
karbon_monoksida             2
ozon                         3
nitrogen_dioksida            8
max                          0
dtype: int64

### Handling karbon_monoksida

In [124]:
df['karbon_monoksida'] = df['karbon_monoksida'].fillna(method='ffill')
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

### Handling ozon

In [125]:
df['ozon'] = df['ozon'].fillna(method='ffill')
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

### Handling nitrogen_dioksida

In [126]:
df['nitrogen_dioksida'] = df['nitrogen_dioksida'].fillna(method='ffill')
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

In [127]:
df.isnull().sum()

parameter_pencemar_kritis    1
kategori                     0
year                         0
month                        0
day                          0
stasiun                      0
pm10                         0
pm25                         0
sulfur_dioksida              0
karbon_monoksida             0
ozon                         0
nitrogen_dioksida            0
max                          0
dtype: int64

In [128]:
df.head()

,parameter_pencemar_kritis,kategori,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
0,PM25,SEDANG,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0,99
1,PM25,SEDANG,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0,68
2,O3,SEDANG,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0,63
3,PM25,SEDANG,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0,59
4,PM25,SEDANG,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0,52

In [129]:
by_year= df.groupby('year').count()
by_year

,parameter_pencemar_kritis,kategori,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida,max
year,,,,,,,,,,,,
2024,366,366,366,366,366,366,366,366,366,366,366,366
2025,180,181,181,181,181,181,181,181,181,181,181,181

## Dropping all columns that not useful

In [132]:
df.drop(['parameter_pencemar_kritis', 'kategori', 'max'], axis=1, inplace=True)
df.head()

,year,month,day,stasiun,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida
0,2024,1,1,DKI5 Kebon Jeruk Jakarta Barat,58.0,99.0,40.0,18.0,55.0,12.0
1,2024,1,2,DKI5 Kebon Jeruk Jakarta Barat,40.0,68.0,40.0,9.0,65.0,11.0
2,2024,1,3,DKI5 Kebon Jeruk Jakarta Barat,32.0,54.0,39.0,7.0,63.0,10.0
3,2024,1,4,DKI5 Kebon Jeruk Jakarta Barat,38.0,59.0,46.0,10.0,55.0,12.0
4,2024,1,5,DKI5 Kebon Jeruk Jakarta Barat,30.0,52.0,37.0,15.0,48.0,15.0

In [136]:
df.describe()

,month,day,pm10,pm25,sulfur_dioksida,karbon_monoksida,ozon,nitrogen_dioksida
count,547.000000,547.000000,547.000000,547.000000,547.000000,547.000000,547.00000,547.000000
mean,5.519196,15.705667,39.489945,75.672761,28.287020,15.893967,42.09872,16.149909
std,3.310143,8.794730,17.060048,26.079493,8.555351,7.187679,15.02249,11.597627
min,1.000000,1.000000,5.000000,18.000000,3.000000,2.000000,13.00000,1.000000
25%,3.000000,8.000000,25.000000,55.500000,22.000000,10.000000,30.00000,9.000000
50%,5.000000,16.000000,41.000000,78.000000,27.000000,17.000000,41.00000,14.000000
75%,8.000000,23.000000,53.000000,94.000000,35.000000,21.000000,52.00000,19.000000
max,12.000000,31.000000,74.000000,157.000000,53.000000,57.000000,115.00000,65.000000

# EXPORT AS FINAL DATASET

In [137]:
def save_to_csv(df, path:str):
    try:
        df.to_csv(path, index=False)
        print(f"Data saved to {path}")
    except Exception as e:
        print(f"Failed to save CSV: {e}")

In [138]:
file_name= 'Regresi A5_final.csv'
save_to_csv(df, file_name)

Data saved to Regresi A5_final.csv

In [140]:
import pkg_resources

packages = [
    'pandas',
    'string'
]

with open("lukas_requirements.txt", "w") as f:
    for pkg in packages:
        try:
            version = pkg_resources.get_distribution(pkg).version
            f.write(f"{pkg}=={version}\n")
        except pkg_resources.DistributionNotFound:
            print(f"Package {pkg} not found in the environment.")

Package string not found in the environment.